-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "user_roles" (
    "role_id" SERIAL NOT NULL,
    "role_name" VARCHAR(50),

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("role_id")
);

-- CreateTable
CREATE TABLE "users" (
    "user_id" SERIAL NOT NULL,
    "full_name" VARCHAR(255),
    "role_id" INTEGER,
    "email" VARCHAR(255),
    "password" VARCHAR(255),

    CONSTRAINT "users_pkey" PRIMARY KEY ("user_id")
);

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "fk_roleid" FOREIGN KEY ("role_id") REFERENCES "user_roles"("role_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

